/*容器*/
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ccc;
    width: 400px;
    height: 200px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}

/*圆角边框*/
.circle-top-left,.circle-bottom-right{
    position: absolute;
    background-color: #fc0;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px; /*圆角边框效果 苹果；谷歌，等一些浏览器认，因为他们都用的是webkit内核；*/
    -moz-border-radius: 50px; /*圆角边框效果 支持Mozilla Firefox 火狐浏览器的CSS属性。*/
    border-radius: 50px; /*圆角边框效果 chrome/Mozilla/Firefox 和 Safari 3支持该属性*/
}

/*左上角1/4圆角边框*/
.circle-top-left{
    top: -50px;
    left: -50px;
}

/*右下角1/4圆角边框*/
.circle-bottom-right{
    bottom: -50px;
    right: -50px;
}
