/**
 *@author: uxeix
 *@github: https://github.com/uxeixs/ife-course-demo
 */
body {
    background-color: #DEDEDE;
}

section {
    margin: 20px 20px;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 3px solid #848484;
    border-bottom: 3px solid #848484;
}

body, p, h1 {
    margin: 0;
}
h3,span{
    color: #696969;
}
.header {
    height: 60px;
    width: 100%;
    background-color: #333333;

}

.text-right {
    float: right;
}

ul.menu {
    position: relative;
    right: 20px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    list-style: none;

}

ul.menu > li {
    height: 58px;
    float: left;
    text-align: center;
    margin-left: 30px;
    border-bottom: 4px solid transparent;
}

ul.memu > li:hover {
    background-color: #888;
    border-bottom-color: #00a0e9;
    padding: 0 3px;
}

ul.menu > li a {
    color: #fff;
    text-decoration: none;
}

#logo-baidu {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    margin-left: 20px;
}
.fuli li{
    list-style: none;
}
.pic-item{
    margin-left: 20px;
}
table{
    display:inline-table;
    width:100%;
    border-collapse: collapse; /*两边框合并为一条*/
    border: 1px solid #ddd;
    padding:3px;
}
thead{
    display: table-header-group;
    border-color: inherit;
    vertical-align: middle;
    text-align: left;



}
table th{
    border: 1px solid #ddd;
    background-color: #333333;
    color: #ffffff;

}
table tr{
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}
table td{
    border: 1px solid #dddddd;
    padding: 6px 13px;
}
th{
        padding-left: 14px;
}
td{
    padding-left: 10px;
}
.total{
    background-color: #cccccc;
    font-weight: bold;
}
.side-title{
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    line-height: 40px;
    border-left: 3px solid #ccc;
}
.form-control{
    text-align: center;
    width: 100%;
}
.col-4{
    float: left;
    width: 40%;
}
.col-6{
    float: left;
    width: 60%;
}
.col-12{
    width: 100%;
}
.pull-right{
    text-align: right;
}
.pull-left{
    text-align: left;
}

.form-control{
    display: inline-block;
}
.form-row{
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
}
.form-row:before{
    display: table;
    content: " ";
}
.form-row:after{
    display: table;
    content: " ";
    clear: both;
}
label{
    padding-right: 10px;
}
.btn{
    background-color: #3355D0;
    color: #ffffff;
    padding: 8px 13px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}
#intro{
    height: 100px;
    font-size: 15px;
    width: 1000px;
}
