/**
 *@author: uxeix
 *@github: https://github.com/uxeixs/ife-course-demo
 */
body {
    background-color: #DEDEDE;
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    _height: 100%;
    margin-bottom: -120px; /*假定页脚的高度为120px*/
}

.footer, .footer_placeholder {
    height: 120px;
}

.footer_placeholder {
    clear: both;
}

section {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 3px solid #848484;
    border-bottom: 3px solid #848484;
}

.menu li a:hover {
    text-decoration: none;
    color: #00a2d4;
}

body, p, h1 {
    margin: 0;
}

h3, span {
    color: #696969;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #333333;

}

.text-right {
    float: right;
}

ul.menu {
    position: relative;
    right: 20px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    list-style: none;

}

ul.menu > li {
    height: 58px;
    float: left;
    text-align: center;
    margin-left: 30px;
    border-bottom: 4px solid transparent;
}

ul.memu > li:hover {
    background-color: #888;
    border-bottom-color: #00a0e9;
    padding: 0 3px;
}

ul.menu > li a {
    color: #fff;
    text-decoration: none;
}

#logo-baidu {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    margin-left: 20px;
}

.fuli li {
    list-style: none;
}

.pic-item {
    margin-left: 20px;
}

table {
    display: inline-table;
    width: 100%;
    border-collapse: collapse; /*两边框合并为一条*/
    border: 1px solid #ddd;
    padding: 3px;
}

thead {
    display: table-header-group;
    border-color: inherit;
    vertical-align: middle;
    text-align: left;

}

table th {
    border: 1px solid #ddd;
    background-color: #333333;
    color: #ffffff;

}

table tr {
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}

table td {
    border: 1px solid #dddddd;
    padding: 6px 13px;
}

th {
    padding-left: 14px;
}

td {
    padding-left: 10px;
}

.total {
    background-color: #cccccc;
    font-weight: bold;
}

.side-title {
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    line-height: 40px;
    border-left: 3px solid #ccc;
}

.form-control {
    text-align: center;
    width: 100%;
}

.col-4 {
    float: left;
    width: 40%;
}

.col-6 {
    float: left;
    width: 60%;
}

.col-12 {
    width: 100%;
}

.pull-right {
    text-align: right;
}

.pull-left {
    text-align: left;
}

.form-control {
    display: inline-block;
}

.form-row {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
}

.form-row:before {
    display: table;
    content: " ";
}

.form-row:after {
    display: table;
    content: " ";
    clear: both;
}
.form-info{
    font-size: 14px;
    color: deeppink;
}
label {
    padding-right: 10px;
}

.btn {
    background-color: #3355D0;
    color: #ffffff;
    padding: 8px 13px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

#intro {
    height: 100px;
    font-size: 15px;
    width: 95%;
}

.container {
    display: inline-block;
    width: 100%;
    padding-left: 1%;
}

.dl {
    width: 70%;
    float: left;
    overflow: hidden;
}

.dr {
    width: 518px;
    overflow: hidden;
}

footer {
    line-height: 120px;
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    height: 120px;
    display: block;
    bottom: 0;
    background-color:#2ed0b4;
}

footer p {
    position: relative;
    margin: auto;
}
.pic-container{
    width: 100%;
    /*background-color: deeppink;*/
}
.pic-item{
    width: auto;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    border: 1px solid #aaaaaa;
}
.pic-item img{
    height: 100px;
    width: 150px;
}
.pic-item p{
    display: block;
    margin-top: 5px;
}
